*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #4070F4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
}

.all{
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.all h1{
    font-size: 38px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 14px;
}

.btn{
    width: 90%;
    height: 46px;
    border-radius: 8px;
    padding: 0 6px;
    font-size: 16px;
    border: 1px solid rgb(161, 161, 161);
}

.forgot{
    color: #0171D3;
    cursor: pointer;
}

.login{
    color: white;
    background-color: #0171D3;
    width: 90%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
}

.sign{
    color: #0171D3;
}

.two-hr{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.hr{
    border: 1px solid gray;
    width: 40%;
    height: 0;
}

.facebook{
    color: white;
    background-color: #4267B2;
    width: 90%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.google{
    background-color: white;
    width: 90%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid gray;
    cursor: pointer;
}